.centrar {
    text-align: center;
}

.div-input {
    padding: 5px 10px;
}

.modal-body {
    padding: 10px 30px;
}

#imgMuestra {
    text-align: center;
    padding: 10px 5px;
    img {
        width: 50%;
    }
}
<<<<<<< HEAD

.table,
.form-control {
    font-size: .8rem;
}
=======
.table{
    font-size: .8rem;
}
>>>>>>> a6c6504911dd1ee2383a610bf7e45856365d2e11
