.centrar {
    text-align: center;
}

.div-input {
    padding: 5px 10px;
}

.modal-body {
    padding: 10px 30px;
}

#imgMuestra {
    position: relative;
    text-align: center;
    padding: 10px 5px;
    img {
        width: 50%;
    }
    img:hover {
        border-radius: 10px;
        position: absolute;
        top: -330px;
        left: -42px;
        width: 120%;
    }
}

.table,
.form-control {
    font-size: .8rem;
}

.table {
    font-size: .8rem;
}