.centrar {
    text-align: center;
}

.div-input {
    padding: 5px 10px;
}

.modal-body {
    padding: 10px 30px;
}

#imgMuestra {
    text-align: center;
    padding: 10px 5px;
    img {
        width: 50%;
    }
}

.table,
.form-control {
    font-size: .8rem;
}