<div class="container-fluid">
    <table class="table table-light mt-3">
        <thead>
            <tr>
                <th colspan="8">ARTICULOS EN STOCK</th>
            </tr>
            <tr>
                <th>#</th>
                <th>CODIGO</th>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>MEDIDA</th>
                <th>PROVEEDOR</th>
                <th class="centrar">STOCK</th>
                <th><button style="width: 100%;" class="btn btn-info btn-sm" (click)="onNew()">New</button></th>
            </tr>
        </thead>
        <ng-container *ngIf="(articulos$ | async) as articulos">
            <tbody *ngFor="let art of articulos">
                <tr>
                    <td>{{ art.id }}</td>
                    <td>{{ art.cod_Articulo }}</td>
                    <td>{{ art.marca }}</td>
                    <td>{{ art.modelo }}</td>
                    <td>{{ art.medida }}</td>
                    <td>{{ art.cod_Proveedor }}</td>
                    <td class="centrar">{{ art.cantidad }}</td>
                    <td class="centrar">
                        <button class="btn btn-secondary btn-sm" (click)="onEditArticulo(art)">Edit</button> /
                        <button class="btn btn-danger btn-sm" (click)="onDeleteArticulo(art)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
</div>

<ng-template #myModalInfo let-modal>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">NEUMATICO</h5>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ng-container>
            <div class="modal-body">
                <form [formGroup]="formulario" class="form-group" (ngSubmit)="onUpdate()">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="card-header"><b>COD. ARTICULO</b> ( {{ codigo }} )</div>
                        <div class="div-input form-group">
                            <b>Marca</b>
                            <input type="text" class="form-control" id="inputMarca" formControlName="marca">

                            <b>Modelo</b>
                            <input type="text" class="form-control" id="inputModelo" formControlName="modelo">

                            <b>Medida</b>
                            <input type="text" class="form-control" id="inputMedida" formControlName="medida">

                            <b>Cod. Proveedor</b>
                            <input type="text" class="form-control" id="inputProveedor" formControlName="cod_Proveedor">

                            <b>Cantidad</b>
                            <input type="number" class="form-control" id="inputCantidad" formControlName="cantidad">

                            <div id="imgMuestra">

                                <img class="mt-2" [src]="urlImage" (error)="onImageError($event)" alt="img">

                                <ng-container>
                                    <!-- in app.component.html -->
                                    <ngx-dropzone class="mt-3" (change)="onSelect($event)">
                                        <ngx-dropzone-label>
                                            Hacer - <b>Click</b> - ó Arrastrar Imágen Aquí..
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-image-preview class="mt-2" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone><br>
                                </ng-container>
                                <!-- IMAGEN MUESTRA -->
                            </div>

                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" (click)="modal.close()" class="btn btn-info btn-block">Save</button>&nbsp;
                    </div>
                    <div class="row">
                        <button type="button" autofocus (click)="modal.close()" class="btn btn-danger btn-block">Close</button>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>

</ng-template>