<div class="card-content formulario-div">
    <div class="card-header mt-5">
        <h5 class="card-title">NEUMATICO (Nuevo)</h5>
    </div>
    <form [formGroup]="formulario" class="form-group">
        <div class="mb-3">
            <div class="div-input form-group">

                <ng-container *ngIf="(marcas$ | async) as marcas">
                    <label class="col-form-label mt-4" for="inputMarca"><b>Marca</b></label>
                    <select type="text" class="form-control" id="inputMarca" formControlName="marca" (change)="seleccionaMarca()">
                        <option value="0">Seleccionar ...</option>
                        <option *ngFor="let op of marcas" [value]="op.marca">{{op.marca}}</option>
                    </select>
                </ng-container>

                <ng-container *ngIf="this.modelos as modelos">
                    <label class="col-form-label mt-4" for="inputModelo"><b>Modelo</b></label>
                    <select type="text" class="form-control" id="inputModelo" formControlName="modelo">
                        <option value="0">Seleccionar ...</option>
                        <option *ngFor="let op of modelos" [value]="op.modelo">{{op.modelo}}</option>
                    </select>
                </ng-container>

                <ng-container *ngIf="this.medidas as medidas">
                    <label class="col-form-label mt-4" for="inputMedida"><b>Medida</b></label>
                    <select type="text" class="form-control" id="inputMedida" formControlName="medida">
                        <option value="0">Seleccionar ...</option>
                        <option *ngFor="let op of medidas" [value]="op.medida">{{op.medida}}</option>
                    </select>
                </ng-container>

                <label class="col-form-label mt-4" for="inputProveedor"><b>Cod. Proveedor</b>&nbsp;<span class="comentario">(
            Opcional
            )</span></label>
                <input type="text" class="form-control" id="inputProveedor" formControlName="cod_Proveedor">

                <label class="col-form-label mt-4" for="inputCantidad"><b>Cantidad</b></label>
                <input type="number" class="form-control" id="inputCantidad" formControlName="cantidad">

                <label class="col-form-label mt-4" for="inputImagen"><b>Imágen</b></label>
                <input type="file" class="form-control" name="imgMuestra" id="inputImagen">
                <br>
            </div>
            <div class="row">
                <button type="button" (click)="onSave()" class="btn btn-info btn-block">Guardar</button>&nbsp;
            </div>
            <div class="row">
                <button type="button" routerLink="/productos" class="btn btn-danger btn-block">Cerrar</button>
            </div>
        </div>
    </form>
</div>